<!DOCTYPE html>
<html lang="en">

<head>
  <title>WebRTC Video Analytics Broadcast</title>
</head>

<body>
  <div id="signalingContainer" style="display: none">
    Browser base64 Session Description<br />
    <textarea id="localSessionDescription" readonly="true"></textarea> <br />
    
    Golang base64 Session Description<br />
    <textarea id="remoteSessionDescription"></textarea> <br/>
  </div>

  <br />

  Video<br />
  <video id="video1" width="320" height="240" autoplay muted></video> <br />

  <br />

  Logs<br />
  <div id="logs"></div>

  <script src="/static/js/join.js"></script>  
</body>

</html>